/* ELEMENT SELECTORS */

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  color: #4e709d;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 4.5rem;
}
h2 {
  color: #4e709d;
  font-family: 'Montserrat', serif;
  font-size: 2.5rem;
}
hr {
  border-color: #bac7a7;
  border-style: dotted none none;
  border-width: 7px;
  width: 5%;
}
p {
  color: #40514e;
}
h3 {
  color: #36506c;
  font-family: 'Montserrat', serif;
  margin-bottom: 10px;
  font-size: 1.25rem;
}
span {
  text-decoration: underline;
}

/* CLASS SELECTORS */

.top-container{
  background-color: #ebf7fd;
  position: relative;
  padding-top: 100px;
}
.top-cloud{
  height: 18%;
  width: 7%;
  position: absolute;
  right: 250px;
 top: 50px;
}
.bottom-cloud{
  height: 18%;
  width: 7%;
  position: absolute;
  left: 250px;
  bottom: 350px;
}
.normal-font {
  font-size: 1rem;
}
.skills {
  padding-top: 50px;
}
.skill-row {
  line-height: 2;
  margin: 70px auto 80px auto;
  width: 55%;
  height: auto;
  text-align: left;
}
.code-img {
  margin: 8px 50px 12px 10px;
  width: 100px;
  height: 100px;
  float: left;
}
.peace-img {
  margin: 8px 50px 12px 10px;
  width: 100px;
  height: 100px;
  float: right;
}
.bottom-container {
  background-color: #a5def1;
  padding: 50px 50px 30px 50px;
}

.footer {
  color: #36506c;
  margin-top: 40px;
  font-family: serif;
  font-size: 0.8rem;
}
.contact-me {
  padding: 40px;
}
.mail-me {
  padding: 25px;
}
.contact-btn {
  padding: 10px 20px;
  margin: 40px auto 60px auto;
  text-decoration: none;
  font-family: 'Montserrat', serif;
  font-weight: bold;
  display: inline-block;
  color: white;
  border-radius: 5px;
  background-image: linear-gradient(#4e709d, #36506c);
}
.contact-btn:hover {
  background-image: linear-gradient(#36506c, #4e709d);
}
.profile {
  padding: 70px 50px 50px;
}
.about {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}
.extra{
  background-image: url("images/flowers.png");

  height: 400px;
  width: 100%;
}
.girl{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.mountain{
  height: 370px;
  width: 600px;

}

.social img{
  height: 40px;
  width: 40px;
  margin: 0 20px;
}
